{% extends 'header.html' %}
{% block title %} Become a Host | {% endblock title %}
{% block content %}

{% if user.is_authenticated %}
<style>
    .form-section {
        border: 2px solid #ffffff;
        padding: 20px;
        border-radius: 10px;
        background-color: #f8f9fa;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .approval-status {
        font-weight: bold;
    }

    .approved {
        color: green;
    }

    .not-approved {
        color: red;
    }
</style>
<div class="container mt-5">
    <h1 align="center">Ride-Sharing Host Application</h1>
    <br>
    <div class="row">
        <div class="col-md-6 form-section" id="driverLicenseSection">
            <h3>Driver's License</h3>
            <ul class="approval-status" id="ride-list">
                {% for dl in dls %}
                <li class="ride-item box">
                    <span class="location"><strong> {{ dl.dl_reg }}</strong></span>
                    <span class="ride-time-since">Vehicle class: <strong>{{ dl.dl_type }}</strong></span>
                    <br>
                    <span class="ride-capacity">Status: <strong>
                        {% if dl.dl_approved %}
                        Approved
                        {%else%}
                        Waiting for Approval
                        {% endif %}
                    </strong></span>
                    <br>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'dl_registration' %}">Submit Driving License</a>
        </div>
        <div class="col-md-6 form-section" id="vehicleRegistrationSection">
            <h3>Vehicle Registration</h3>
            <ul class="approval-status" id="ride-list">
                {% for v in vehicles %}
                <li class="ride-item box">
                    <span class="location"><strong> {{ v.vehicle_reg }}</strong></span>                    
                    <span class="ride-time-since">Vehicle: <strong>{{ v.vehicle_model }}</strong></span>
                    <span class="ride-time-since">Vehicle class: <strong>{{ v.vehicle_type }}</strong></span>
                    <br>
                    <span class="ride-capacity">Status: <strong>
                        {% if v.v_is_verified %}
                        Verified
                        {%else%}
                        Waiting for Verification
                        {% endif %}
                    </strong></span>
                    <br>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'vehicle_registration' %}">Register your vehicle</a>
        </div>
    </div>
    <br>
    {% if show_apply_button %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Apply to Become a Host</button>
    </form>
    {% endif %}
</div>

{% else %}
<h1>Please Register or Login First</h1>
{% endif %}

{% endblock %}