{% extends 'header.html' %}

{% block content %}
<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
  }

  .btn-group .btn {
    margin: 10px;
    border-radius: 10px;
  }

  .btn-outline-light {
    border-color: #007bff;
    color: black;
  }

  .btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #007bff;
  }

  .btn-outline-primary {
    border-color: #007bff;
    color: black;
  }

  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }

  .btn-outline-success {
    border-color: #007bff;
    color: black;
  }

  .btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
  }
</style>

<div class="jumbotron text-center">
  <h1>Welcome to stuber</h1>
  <div class="container-fluid">Connecting students and faculties with safe and reliable rides.</div>
</div>
<div class="container text-center">

  {% if not user.is_authenticated %}

  <h2>Are you a BRACU student or faculty?</h2>
  <p>If yes, you can access our exclusive services tailored just for you!</p>
  <p>We not only offer rides to students but also you can join us as a host and provide service to your peers.</p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg">Log In</a>
    <a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">Register</a>
    <a href="{% url 'register' %}" class="btn btn-outline-success btn-lg">Become as a Host</a>
  </div>

  {% else %}
  <p>A ride sharing service tailored just for you!</p>
  <p>We not only offer rides to students but also you can join us as a host and provide service to your peers.</p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'from_bracu' %}" class="btn btn-outline-light btn-lg">Book a Ride From BRACU</a>
    <a href="{% url 'to_bracu' %}" class="btn btn-outline-primary btn-lg">Book a Ride To BRACU</a>
    <a href="{% url 'book_ride' %}" class="btn btn-outline-success btn-lg">Book a Ride</a>
  </div>

  {% if not user_profile.is_bike_host and not user_profile.is_car_host %}

  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'become_host' %}" class="btn btn-outline-success btn-lg">Become a Host</a>
  </div>

  {% else %}
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'schedule_from_bracu' %}" class="btn btn-outline-light btn-lg">Host From BRACU</a>
    <a href="{% url 'schedule_to_bracu' %}" class="btn btn-outline-primary btn-lg">Host To BRACU</a>
    <a href="{% url 'schedule_ride' %}" class="btn btn-outline-success btn-lg">Host a Ride</a>
  </div>
  <br/>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'requested_rides' %}" class="btn btn-outline-success btn-lg">See All Requested Rides</a>
  </div>

  {% endif %}

  {% endif %}

</div>

{%endblock%}