{% extends 'header.html' %}

{% block content %}

{% if user.is_authenticated %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #007bff;
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .ride-type {
        font-weight: bold;
        color: #28a745;
    }

    .ride-capacity {
        font-weight: bold;
        color: #d44333;
    }

    .location {
        display: block;
        margin-bottom: 5px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
        margin-right: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
    }

    .btn-warning {
        background-color: #ffc107;
        border: none;
    }

    .btn-primary:hover,
    .btn-success:hover,
    .btn-warning:hover {
        opacity: 0.8;
    }
</style>

<div class="container" align="center">
    <h1>Ride Details</h1>
    <span class="location">From: <strong> {{ ride.start_loc }}</strong></span>
    <span class="location">To: <strong>{{ ride.destination }}</strong></span>
    <span class="location">Incentive: <strong>{{ ride.riderpays }} TK</strong></span>
    <span class="location">Vehicle Type: <strong>{{ ride.ride_type }} </strong></span>
    <span class="location">Capacity needed: <strong>{{ ride.ride_capacity }} person</strong></span>
    <span class="ride-capacity">{{ ride.ride_status }} {{ ride.time_since_creation }}</span>
    <br>

    {% if not ride.hosted_by %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Accept Ride">
    </form>
    {% endif %}


    {% if ride.ride_status == 'scheduled' %}
        <span class="ride-capacity">starts in {{ ride.time_till_start }}</span>
        <br>
        <strong>Please wait for your Scheduled Ride to be Booked!</strong>
    {% endif %}

    {% if ride.hosted_by == request.user and ride.ride_status == 'accepted'%}
    <span class="location">Phone Number: <strong> {{ rider_phone_number }}</strong></span>
    <form action="{% url 'start_ride' ride.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Start Ride">
    </form>
    {% endif %}

    {% if ride.hosted_by == request.user and ride.ride_status == 'started' %}
    <form action="{% url 'end_ride' ride.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-warning" value="End Ride">
    </form>
    {% endif %}

    {% if ride.hosted_by == request.user and ride.ride_status == 'ended' %}
    <p>Your Review: {{ ride.rider_review }}</p>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% else %}
<h1>Please Register or Login First</h1>
{% endif %}

{% endblock %}