{% extends 'header.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

  {% if user.is_authenticated %}
  <h1>Register Vehicle</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" name="vehicle_type" placeholder="Vehicle Type" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" name="vehicle_model" placeholder="Vehicle Model" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" name="vehicle_capacity" placeholder="Vehicle Capacity" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" name="vehicle_reg" placeholder="Vehicle Registration" required>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" name="vehicle_color" placeholder="Vehicle Color" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  {% else %}
  <h1>Please Register or Login First</h1>
  {% endif %}
</div>
{%endblock%}