{% extends 'header.html' %}
{% block title %} G-suite email verificaiton required | {% endblock title %}
{% block content %}

<div class="alert alert-warning" role="alert">
    <div class="text-center"><strong>Your email is not verified yet. please verify to continue!</strong>
</div>
</div>
<div class="alert alert-warning" role="alert">
    <div class="text-center">We have sent to you an Email. Please check your inbox.<br/>
    <strong>Please check your SPAM folder too!</strong>
</div>
</div>
{%endblock%}